# Additional development dependencies
pytest-xdist
pytest-benchmark
coverage
pre-commit
tox

# Documentation development
mkdocs-serve
mkdocs-macros-plugin

# Code formatting and linting (dev versions)
black[jupyter]
flake8-docstrings
flake8-bugbear
mypy-extensions

# Testing utilities
factory-boy
faker
responses

# Performance monitoring
memory-profiler
py-spy
